/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Activity Share Popup
# Activity Reshare
# Themes Specific
    # BuddyBoss
    # Kleo
    # OneCommunity
    # Rehub
    # BuddyX
    # Gwangi
# BB Platform
# RTL Fixes
# Icons Styles
    # Circle/Rec Style
    # Black/White Style
    # Baricon Style
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

.activity ul li .activity-meta .service-buttons a.bp-share,
#buddypress .activity-list .activity-share-dropdown-menu-container a .dashicons {
    text-align: center;
}

.activity ul li .activity-meta .service-buttons a.bp-share .dashicons-twitter {
    min-width: auto;
}

.activity ul li .activity-meta a.bp-share .dashicons-twitter:before {
    content: "";
    background-image: url("../images/twitter-x-line.svg");
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 20px;
    height: 20px;
}

.activity ul li .activity-meta .service-buttons a.bp-share .fa-stack {
    width: auto;
    height: auto;
    line-height: 1;
}

.activity ul li .activity-meta .service-buttons a.bp-share:hover {
    background: none !important;
}

a.bp-share .fa {
    font-family: 'FontAwesome';
}

a.bp-share.has-popup {
    border-bottom: none;
}

.service-buttons a {
    padding: 4px 8px;
}

.service-buttons {
    padding: 10px;
}

.activity-content .service-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.service-buttons span.tooltiptext {
    width: 100px;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    background: #444;
    border-radius: 4px;
    color: #fff;
    line-height: 1.3;
    padding: 7px 15px;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;
    -webkit-transition: all .18s ease-out .18s;
    transition: all .18s ease-out .18s;
}

.service-buttons span.tooltiptext:before {
    content: ' ';
    width: 12px;
    height: 12px;
    background: #444;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
    border-radius: 2px;
}

.bp-list li .generic-button.bp-share-btn,
.bp-share-btn {
    display: inline-block;
}

.bp-nouveau #buddypress .activity-list .activity-item .activity-meta .bp-share-button {
    background: none;
    margin: 0;
    border: 0;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body:not(.logged-in).bp-nouveau #buddypress .activity-list .activity-item .activity-meta .bp-share-button {
    color: inherit;
}

.bp-nouveau .activity-list .activity-item .activity-meta .bp-share-button::before,
.bp-nouveau .activity-list .activity-item .bp-share-button::before {
    content: "\f237" !important;
    font-family: 'dashicons' !important;
    font-size: initial;
    margin-right: 3px;
}

.bp-nouveau #buddypress .activity-list .bp-activity-more-options-wrap .bp-share-button::before,
.bp-nouveau #buddypress .activity-list .bb-activity-more-options-wrap .bp-share-button::before {
    margin-right: 0;
}

.bp-nouveau #buddypress .activity-list .bb-activity-more-options-wrap .bb-activity-more-options .bp-share-button::before {
    content: "\f237";
    font-family: 'dashicons';
    font-size: initial;
}

.bp-nouveau .button.item-button.bp-secondary-action.bp-share-button {
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
}

.tooltip-hide {
    display: none;
}

body.bp-share-popup-active .reign-menu-panel,
body.bp-share-popup-active #masthead {
    z-index: 1;
}

/*--------------------------------------------------------------
# Reign Theme
--------------------------------------------------------------*/
.theme-reign-theme .service-buttons {
    margin-top: 20px;
    padding-bottom: 0;
}

#drag_social_icon,
#drag_icon_ul {
    padding: 20px;
    border: 1px solid #e3e2ec;
    background: #fff;
    box-shadow: 0 10px 20px #f5f5f6;
    width: 48%;
    border-radius: 10px;
    margin: 0 1%;
}

/*--------------------------------------------------------------
# Activity Share Popup
--------------------------------------------------------------*/

.bp-activity-more-options-wrap .bp-share-service-popup-overlay,
.bb-activity-more-options-wrap .bp-share-service-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.bp-activity-more-options-wrap .bp-share-service-popup,
.bb-activity-more-options-wrap .bp-share-service-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 100;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    max-width: 550px;
    background-color: #fff;
    margin: auto;
    padding: 30px 15px;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 10%), 0px 4px 6px rgb(0 0 0 / 5%);
    border-top: 3px solid #DC2626;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    border-radius: 4px !important;
}

#buddypress .activity-list .bp-activity-more-options-wrap.bp-activity-share-popup-open:not(.selected),
#buddypress .activity-list .bb-activity-more-options-wrap.bp-activity-share-popup-open:not(.selected) {
    opacity: 0;
}


/*--------------------------------------------------------------
# Activity Reshare
--------------------------------------------------------------*/

.modal-header {
    background: #fff;
    color: inherit;
}

.bp-activity-share-btn {
    display: inline-block;
}

a.bp-activity-share-button {
    cursor: pointer;
}

.bp-activity-reshare-icon {
    display: inline-block;
    /* margin-right: 2px; */
}

.bp-activity-reshare-count {
    margin-left: 2px;
}

.activity-share-modal.modal .modal-content,
.activity-share-modal .modal-header,
.activity-share-modal .modal-body {
    padding: 0;
}

.activity-share-modal.modal .modal-content {
    width: 100%;
    border: 0;
    border-radius: 12px;
}

.activity-share-modal .modal-body {
    background-color: #fdfdfd;
    border-radius: 0;
    border: none;
    padding-bottom: 28px;
}

.activity-share-modal .bp-activity-share-avatar {
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 55px;
    line-height: 1.4;
    display: block;
    position: relative;
}

.activity-share-modal .bp-activity-share-avatar>a {
    position: absolute;
    left: 0;
    top: -3px;
}

.activity-share-modal .bp-activity-share-avatar img.avatar {
    width: 44px;
    height: 44px;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    margin-right: 5px;
    border-radius: 50%;
}

.activity-share-modal .bp-activity-share-avatar small.user-status-text {
    display: block;
    font-weight: normal;
    color: #767676;
}

@media (min-width: 576px) {
    .activity-share-modal .modal-dialog {
        max-width: 584px;
    }
}

@media (max-width: 576px) {
    .activity-share-modal .modal-dialog {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.activity-share-modal .form {
    width: 100%;
    padding-bottom: 28px;
}

.activity-share-modal .form-select {
    position: relative;
}

.activity-share-modal .form-select select {
    height: 45px;
    border-radius: 12px;
}

.activity-share-modal .bpsp-pinned-post-tag {
    display: none;
}

.activity-share-modal .bp-activity-share-filter .form-item {
    margin: 0;
}

.activity-share-modal label[for=post-in],
.activity-share-modal .bp-activity-share-filter label {
    padding: 0 5px;
    background-color: #fff;
    color: #767676;
    font-size: 0.75rem;
    position: absolute;
    top: -5px;
    left: 12px;
    z-index: 1000000;
    line-height: 1;
    pointer-events: none;
}

.activity-share-modal .form-textarea textarea {
    width: 100%;
    background-color: #fdfdfd;
    border: 0;
    border-radius: 0;
    font-size: 0.875rem;
    padding: 26px 28px 0;
    overflow: hidden;
    min-height: 120px;
    resize: none;
}

.activity-share-modal .form-textarea textarea:focus {
    outline: none;
    border-color: transparent !important;
}

.activity-share-modal .quick-post-header-filters-wrap {
    width: 100%;
    min-height: 80px;
    padding: 0 28px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (max-width: 680px) {
    .activity-share-modal .quick-post-header-filters-wrap {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 28px 0;
    }

    .activity-share-modal .bp-activity-share-filter {
        margin-top: 28px;
        padding: 0 16px;
    }
}

.quick-post-header-filters-wrap .select2-container--default .select2-selection--single {
    width: 100%;
    height: 100%;
    padding: 0 40px 0 20px;
    font-size: 0.875rem;
    cursor: pointer;
}

#activity-share-modal button.activity-share-modal-close {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: #333;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 1;
    border: 0;
    outline: none;
    z-index: 2;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

#activity-share-modal button.activity-share-modal-close:hover {
    background-color: #800;
}

#activity-share-modal button.activity-share-modal-close .as-icon {
    font-size: 22px;
    color: #fff;
}

.activity-share-modal #bp-activity-share-widget-box-status-header {
    width: -webkit-calc(100% - 56px);
    width: calc(100% - 56px);
    background-color: #fff;
    margin: 0 28px;
    padding: 22px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, .06);
    border: 0;
    border-radius: 12px;
}

.activity-share-modal .activity-list .activity-item .activity-header {
    padding-right: 0;
    height: auto;
    min-height: 50px;
    margin-bottom: 1rem;
}

.activity-share-modal .activity-list .activity-item>div.item-avatar img {
    width: 40px !important;
    height: auto;
}

.bp-activity-share-post-footer-actions {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 43px;
}

.bp-activity-share-post-footer-actions .button {
    margin: 0;
    width: 80px;
    margin-right: 6px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, .06);
    height: 40px;
    font-size: 0.75rem;
    line-height: 40px;
}

.bp-activity-share-post-footer-actions .button:hover {
    background-color: #111;
}

.bp-activity-share-post-footer-actions .button.void {
    background-color: transparent;
    color: #767676;
    box-shadow: none;
}

.bp-activity-share-post-footer-actions .button.void:hover {
    color: #fff;
    background-color: #800;
}

.bp-nouveau #bp-activity-share-widget-box-status-header.activity-list.bp-list .activity-item,
#bp-activity-share-widget-box-status-header.activity-list .activity-reshare-item-container .activity-item {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
}

#bp-activity-share-widget-box-status-header.activity-list .activity-item .activity-content .activity-inner {
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: visible;
}

#bp-activity-share-widget-box-status-header .activity-reshare-item-container:not(.post-reshare-item-container) {
    margin-top: 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, .06);
    border-radius: 12px;
    padding: 22px;
}

#bp-activity-share-widget-box-status-header.activity-list .activity-item .activity-reshare-item-container .activity-header {
    min-height: 50px;
    height: auto;
}

#bp-activity-share-widget-box-status-header.activity-list .activity-item .activity-reshare-item-container .activity-header img {
    border-radius: 50% !important;
}

.bp-nouveau #bp-activity-share-widget-box-status-header.activity-list .activity-reshare-item-container .activity-item .activity-content p .activity-time-since,
.bp-nouveau .activity-list .activity-reshare-item-container .activity-item .activity-content p .activity-time-since,
#bp-activity-share-widget-box-status-header.activity-list .activity-reshare-item-container .activity-item .activity-header .time-since,
.activity-list .activity-reshare-item-container .activity-item .activity-header .time-since,
body.activity-permalink.bp-nouveau .activity-list .activity-reshare-item-container .activity-content .activity-header .time-since {
    line-height: 2;
    font-size: 90%;
    color: #767676;
    display: block;
}

body.modal-open.modal-open .select2.select2-container .select2-selection .select2-selection__rendered {
    padding: 0.4rem 0.8rem;
    line-height: 28px;
    height: 40px;
}

body.modal-open.modal-open .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

body.modal-open.modal-open .select2-dropdown {
    margin: 0;
    z-index: 100000;
    border: 1px solid #aaa;
}

body.modal-open.modal-open .select2-container--open .select2-dropdown--below {
    border-top: none;
}

body.modal-open.modal-open .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
body.modal-open.modal-open .select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #fff;
}

body.modal-open.modal-open .bp-activity-share-filter .select2-container--default .select2-selection--single {
    width: 200px;
    padding: 0;
}

.activity-share-modal .entry-thumbnail,
.post-reshare-item-container .entry-thumbnail {
    position: relative;
    overflow: hidden;
    padding-top: 52.56%;
    display: block;
    background: #809ab4;
}

.activity-share-modal .entry-thumbnail img,
.post-reshare-item-container .entry-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: cover;
}

.activity-reshare-item-container.post-reshare-item-container {
    margin: 1.5rem auto;
}

.activity-share-modal .post-preview,
.post-reshare-item-container .post-preview {
    border-radius: 12px !important;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, .06);
    overflow: hidden;
    padding-bottom: 28px;
}

.activity-share-modal .post-preview .post-preview-info,
.post-reshare-item-container .post-preview .post-preview-info {
    width: 91.6666666667% !important;
    padding: 28px;
    border-radius: 12px !important;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, .06);
    position: relative;
    z-index: 2;
}

.activity-share-modal .post-preview .post-preview-info.fixed-height,
.post-reshare-item-container .post-preview .post-preview-info.fixed-height {
    margin: auto;
    padding: 28px 28px 22px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.activity-share-modal .post-preview .entry-thumbnail+.post-preview-info,
.post-reshare-item-container .post-preview .entry-thumbnail+.post-preview-info {
    margin: -48px auto 0;
}

.activity-share-modal .post-preview .post-preview-info.fixed-height,
.post-reshare-item-container .post-preview .post-preview-info.fixed-height {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.activity-share-modal .post-preview .post-preview-info .post-preview-timestamp,
.post-reshare-item-container .post-preview .post-preview-info .post-preview-timestamp {
    margin: 0;
    padding: 0;
    color: #767676;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.activity-share-modal .post-preview .post-preview-info .post-preview-timestamp span.link.cat-links,
.post-reshare-item-container .post-preview .post-preview-info .post-preview-timestamp span.link.cat-links {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 10px;
}

.activity-share-modal .post-preview .post-preview-info .post-preview-timestamp span.link.date-links,
.post-reshare-item-container .post-preview .post-preview-info .post-preview-timestamp span.link.date-links {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.activity-share-modal .post-preview .post-preview-info .post-preview-timestamp span.link.cat-links i,
.post-reshare-item-container .post-preview .post-preview-info .post-preview-timestamp span.link.cat-links i,
.activity-share-modal .post-preview .post-preview-info .post-preview-timestamp span.link.date-links i,
.post-reshare-item-container .post-preview .post-preview-info .post-preview-timestamp span.link.date-links i {
    margin-right: 4px;
}

.post-reshare-item-container .post-preview .post-preview-info .post-preview-timestamp span.link a {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.post-reshare-item-container .post-preview .post-preview-info .post-preview-timestamp span.link.date-links a {
    color: #767676 !important;
}

.activity-share-modal .post-preview-info-top.entry-header,
.post-reshare-item-container .post-preview-info-top.entry-header {
    margin-bottom: 1rem;
}

.activity-share-modal .post-preview .post-preview-info .post-preview-title,
.post-reshare-item-container .post-preview .post-preview-info .post-preview-title {
    margin: 0 !important;
    padding: 0;
    margin-top: 10px !important;
    font-size: 1.25rem !important;
    font-weight: 700;
    line-height: 1.2em;
    word-wrap: break-word;
}

.activity-share-modal .post-preview .post-preview-info .post-preview-title a,
.post-reshare-item-container .post-preview .post-preview-info .post-preview-title a {
    font-size: inherit !important;
}

.activity-share-modal .post-preview .post-preview-info.fixed-height .post-preview-info-bottom,
.post-reshare-item-container .post-preview .post-preview-info.fixed-height .post-preview-info-bottom {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.7142857143em;
    font-weight: 500;
}

.buddypress-wrap .activity-share-modal .post-preview .post-preview-info.fixed-height .post-preview-info-bottom p,
.buddypress-wrap .post-reshare-item-container .post-preview .post-preview-info.fixed-height .post-preview-info-bottom p {
    margin-bottom: 0 !important;
}

.activity-share-modal .post-preview .post-preview-info.fixed-height .post-preview-info-bottom p,
.post-reshare-item-container .post-preview .post-preview-info.fixed-height .post-preview-info-bottom p {
    margin: 0;
    padding: 0;
}

.activity-share-modal .post-preview .post-preview-info.fixed-height .post-preview-info-bottom p,
.post-reshare-item-container .post-preview .post-preview-info.fixed-height .post-preview-info-bottom p {
    margin-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.7142857143em;
    font-weight: 500;
}

.activity-share-modal .post-preview .post-preview-info.fixed-height .post-preview-text,
.post-reshare-item-container .post-preview .post-preview-info.fixed-height .post-preview-text {
    margin: 0;
}

.activity-share-modal .post-preview .post-preview-info .post-preview-link,
.post-reshare-item-container .post-preview .post-preview-info .post-preview-link {
    margin-top: auto;
    padding-top: 20px;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.bp-activity-post-share-btn {
    display: block;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}

.bp-activity-post-share-btn .bp-activity-share-button {
    width: 160px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100px;
    height: 40px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, .06);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.bp-activity-post-share-btn .bp-activity-share-button:hover {
    box-shadow: 0 0 20px 0 rgba(117, 117, 117, .18);
}

.bp-activity-post-share-btn .reshare-count {
    position: relative;
    font-size: 90%;
    font-weight: normal;
    display: inline;
    margin-left: 10px;
    padding: 0;
    line-height: normal;
}

.animate-slide-down {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
    -webkit-animation: slideDown .4s ease-in-out forwards;
    animation: slideDown .4s ease-in-out forwards;
    -webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;
    transition: transform .4s ease-in-out, opacity .4s ease-in-out;
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -20px);
        transform: translate(0, -20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -20px);
        transform: translate(0, -20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}


/*--------------------------------------------------------------
## BuddyBoss
--------------------------------------------------------------*/

.bp-nouveau.buddyboss-theme .activity-list .activity-item .bp-share-button::before {
    content: '\e927';
    font-family: bb-icons;
    font-size: initial;
}

.bp-nouveau.buddyboss-theme .bp-activity-reshare-icon i {
    font-size: 15px;
}


/*--------------------------------------------------------------
## Kleo
--------------------------------------------------------------*/

body.kleo #buddypress .activity-meta a.button.bp-share-button {
    line-height: initial;
}

.kleo-page #buddypress .activity-meta a.button.bp-share-button,
.kleo-page #buddypress .activity-meta a.button.bp-activity-share-button {
    display: inline;
}


/*--------------------------------------------------------------
## OneCommunity
--------------------------------------------------------------*/

body.bp-nouveau #buddypress.onecommunity .activity-list .activity-item .activity-meta .bp-share-button {
    display: block;
    padding: 0 8px;
}

body.bp-nouveau #buddypress.onecommunity .activity-list .activity-item .activity-meta .bp-share-button::before {
    top: 4px;
    position: relative;
}

body.onecommunity.bp-nouveau .activity-list .activity-item .activity-meta .bp-share-button::before {
    content: none;
}


/*--------------------------------------------------------------
## Rehub
--------------------------------------------------------------*/

body.rehub-theme #buddypress div.activity-meta a.bp-share-button:hover span {
    background: none;
}


/*--------------------------------------------------------------
## BuddyX
--------------------------------------------------------------*/

#bp-activity-share-widget-box-status-header .activity-card-head {
    margin: -22px;
    margin-bottom: 22px;
}

#bp-activity-share-widget-box-status-header .activity-item-head {
    padding: 0;
    margin-bottom: 1rem;
}


/*--------------------------------------------------------------
## Gwangi
--------------------------------------------------------------*/

.grimlock #buddypress:not(.youzer) #activity-stream .activity-reshare-item-container .activity-avatar,
.grimlock .activity-share-modal .activity-avatar {
    float: none;
    margin: 0 0.75rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 35px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35px;
    flex: 0 0 35px;
    height: 35px;
    position: relative;
}

.grimlock #buddypress:not(.youzer) .generic-button.bp-share-btn span,
.grimlock #buddypress:not(.youzer) .generic-button a.bp-activity-share-button>span,
.grimlock #buddypress:not(.youzer) a.bp-activity-share-button>span {
    font-size: inherit
}

.grimlock #activity-stream .bp-activity-reshare-icon i {
    font-size: inherit;
}

@media (min-width: 768px) {

    .grimlock #buddypress:not(.youzer) #activity-stream .activity-reshare-item-container .activity-avatar,
    .grimlock .activity-share-modal .activity-avatar {
        max-width: 60px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px;
        width: 60px !important;
        height: 60px !important;
    }
}


/*--------------------------------------------------------------
# BB Platform
--------------------------------------------------------------*/

.activity-share-modal .modal-body {
    margin-top: 0;
}

.activity-list .activity-item .activity-content .bp-generic-meta.action .bp-activity-share-button {
    line-height: 1.6 !important;
}

.activity-list .activity-item .activity-content .bp-generic-meta.action .bp-activity-share-button::before {
    background: none;
    width: auto;
    height: auto;
    opacity: 1;
    position: static;
    font-size: 14px;
    margin-right: 3px !important;
}

.activity-list .activity-item .activity-content .bp-generic-meta.action .bp-activity-share-button::after {
    display: none;
}

.activity-list .activity-item .activity-content .bp-generic-meta.action .bp-activity-share-button .bp-screen-reader-text {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
}

.activity-list .activity-item .activity-content .bp-generic-meta.action .bp-activity-share-button .reshare-count {
    margin-left: 5px;
}

.activity-share-modal .activity-list .bb-activity-more-options-wrap,
.activity-share-modal .activity-list .bb-media-privacy-wrap {
    display: none;
}


/*--------------------------------------------------------------
# RTL Fixes
--------------------------------------------------------------*/

[dir='rtl'] .bp-activity-reshare-icon {
    margin-right: 0;
    margin-left: 2px;
}

[dir='rtl'] .bp-activity-reshare-count {
    margin-left: 0;
    margin-right: 2px;
}

[dir='rtl'] .activity-share-modal .bp-activity-share-avatar {
    padding-left: 0;
    padding-right: 55px;
}

[dir='rtl'] .activity-share-modal .bp-activity-share-avatar>a {
    left: auto;
    right: 0;
}

[dir='rtl'] .bp-activity-post-share-btn .reshare-count {
    margin-left: 0;
    margin-right: 10px;
}

[dir='rtl'] .activity-share-modal .post-preview .post-preview-info .post-preview-timestamp span.link.cat-links i,
[dir='rtl'] .post-reshare-item-container .post-preview .post-preview-info .post-preview-timestamp span.link.cat-links i,
[dir='rtl'] .activity-share-modal .post-preview .post-preview-info .post-preview-timestamp span.link.date-links i,
[dir='rtl'] .post-reshare-item-container .post-preview .post-preview-info .post-preview-timestamp span.link.date-links i {
    margin-right: 0;
    margin-left: 4px;
}

/*--------------------------------------------------------------
# Icons Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Circle/Rec Style
--------------------------------------------------------------*/
.service-buttons .bp-cpoy-wrapper {
    position: relative;
}

.service-buttons .bp-cpoy-wrapper span.tooltiptext {
    position: absolute;
    top: -30px;
    left: -18px;
    right: 0;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle a .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec a .dashicons {
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none !important;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 0;
    border-radius: 100px !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle a .dashicons-twitter:before,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec a .dashicons-twitter:before {
    background-size: 12px;
    filter: invert(1);
}

#buddypress .activity-list .activity-share-dropdown-menu-container.rec a .dashicons {
    border-radius: 0 !important;
}

/*--------------------------------------------------------------
## Black/White Style
--------------------------------------------------------------*/
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite a .dashicons {
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none !important;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 100px !important;

    background: transparent !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite a .dashicons-twitter:before {
    background-size: 12px;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite a:hover .dashicons-twitter:before {
    background-size: 12px;
    filter: invert(1);
}

/*--------------------------------------------------------------
## Baricon Style
--------------------------------------------------------------*/
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon a .dashicons {
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none !important;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 0 !important;
    border-top: 3px solid currentColor;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon a .dashicons-twitter:before {
    background-size: 12px;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon a:hover .dashicons-twitter:before {
    filter: invert(1);
}

/* Styles */
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon .bp-activity-reshare-icon .dashicons {
    color: #696f75 !important;
    border-color: #696f75 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_facebook_share .dashicons {
    color: #3B5998 !important;
    border-color: #3B5998 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_twitter_share .dashicons {
    color: #1DA1F2 !important;
    border-color: #1DA1F2 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_email_share .dashicons {
    color: #AD0000 !important;
    border-color: #AD0000 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_whatsapp_share .dashicons {
    color: #46bd00 !important;
    border-color: #46bd00 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_linkedin_share .dashicons {
    color: #007BB6 !important;
    border-color: #007BB6 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_pinterest_share .dashicons {
    color: #BD081C !important;
    border-color: #BD081C !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_reddit_share .dashicons {
    color: #FF4501 !important;
    border-color: #FF4501 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_wordpress_share .dashicons {
    color: #21759B !important;
    border-color: #21759B !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_pocket_share .dashicons {
    color: #EF3E56 !important;
    border-color: #EF3E56 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.baricon .bp-cpoy .dashicons {
    color: #696f75 !important;
    border-color: #696f75 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle .bp-activity-reshare-icon .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec .bp-activity-reshare-icon .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite a:hover .bp-activity-reshare-icon .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon a:hover .bp-activity-reshare-icon .dashicons {
    background: #696f75 !important;
    color: #fff !important;
    border-color: #696f75 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle #bp_facebook_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec #bp_facebook_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite #bp_facebook_share:hover .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_facebook_share:hover .dashicons {
    background: #3B5998 !important;
    color: #fff !important;
    border-color: #3B5998 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle #bp_twitter_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec #bp_twitter_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite #bp_twitter_share:hover .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_twitter_share:hover .dashicons {
    background: #1DA1F2 !important;
    color: #fff !important;
    border-color: #1DA1F2 !important;
}

#buddypress .activity-list .bpas-social-share-container.circle #bp_twitter_share .dashicons-twitter:before,
#buddypress .activity-list .bpas-social-share-container.rec #bp_twitter_share .dashicons-twitter:before,
#buddypress .activity-list .bpas-social-share-container.blackwhite #bp_twitter_share:hover .dashicons-twitter:before,
#buddypress .activity-list .bpas-social-share-container.baricon #bp_twitter_share:hover .dashicons-twitter:before {
    filter: invert(1);
}

#buddypress .activity-list .bpas-social-share-container.circle #bp_email_share,
#buddypress .activity-list .bpas-social-share-container.rec #bp_email_share,
#buddypress .activity-list .bpas-social-share-container.blackwhite #bp_email_share:hover,
#buddypress .activity-list .bpas-social-share-container.baricon #bp_email_share:hover {
    background: #AD0000 !important;
    color: #fff !important;
    border-color: #AD0000 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle #bp_whatsapp_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec #bp_whatsapp_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite #bp_whatsapp_share:hover .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_whatsapp_share:hover .dashicons {
    background: #46bd00 !important;
    color: #fff !important;
    border-color: #46bd00 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle #bp_linkedin_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec #bp_linkedin_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite #bp_linkedin_share:hover .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_linkedin_share:hover .dashicons {
    background: #007BB6 !important;
    color: #fff !important;
    border-color: #007BB6 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle #bp_pinterest_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec #bp_pinterest_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite #bp_pinterest_share:hover .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_pinterest_share:hover .dashicons {
    background: #BD081C !important;
    color: #fff !important;
    border-color: #BD081C !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle #bp_reddit_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec #bp_reddit_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite #bp_reddit_share:hover .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_reddit_share:hover .dashicons {
    background: #FF4501 !important;
    color: #fff !important;
    border-color: #FF4501 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle #bp_wordpress_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec #bp_wordpress_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite #bp_wordpress_share:hover .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_wordpress_share:hover .dashicons {
    background: #21759B !important;
    color: #fff !important;
    border-color: #21759B !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle #bp_pocket_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec #bp_pocket_share .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite #bp_pocket_share:hover .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon #bp_pocket_share:hover .dashicons {
    background: #EF3E56 !important;
    color: #fff !important;
    border-color: #EF3E56 !important;
}

#buddypress .activity-list .activity-share-dropdown-menu-container.circle .bp-cpoy .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.rec .bp-cpoy .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.blackwhite .bp-cpoy:hover .dashicons,
#buddypress .activity-list .activity-share-dropdown-menu-container.baricon .bp-cpoy:hover .dashicons {
    background: #696f75 !important;
    color: #fff !important;
    border-color: #696f75 !important;
}

/* New */
.bp-activity-share-dropdown-menu {
    position: absolute;
    right: 0;
    top: 35px;
    text-align: left;
    width: 250px;
    padding: 10px 0;
    border: 1px solid var(--reign-site-border-color);
    border-radius: var(--reign-global-border-radius) !important;
    background-color: var(--reign-site-sections-bg-color);
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: opacity .3s, -webkit-transform .5s cubic-bezier(.215, .61, .355, 1);
    transition: opacity .3s, transform .5s cubic-bezier(.215, .61, .355, 1);
    z-index: 999;
    overflow: hidden;
}

@media screen and (max-width: 300px) {
    .bp-activity-share-dropdown-menu {
        right: -20px;
    }
}

.generic-button.bp-activity-share-dropdown-toggle {
    position: relative;
}

.bp-activity-share-dropdown-toggle.selected .bp-activity-share-dropdown-menu {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-activity-share-btn,
.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-share-wrapper {
    width: 100% !important;
    padding: 10px 15px !important;
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-activity-share-btn span.bp-activity-reshare-icon i {
    font-size: 16px;
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-share-btn .bp-share-button::before {
    margin-right: 8px !important;
    font-size: 18px !important;
    margin-left: 0.2em;
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-activity-share-btn a,
.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-share-btn a {
    width: 100%;
    text-align: left;
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-activity-share-btn a span.bp-share-text {
    display: inline-block !important;
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-activity-share-btn:hover,
.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-share-wrapper:hover {
    background-color: rgba(0, 0, 0, .02);
}

.bp-nouveau #buddypress .activity-list div.activity-meta .bp-share-wrapper a {
    justify-content: flex-start;
    color: var(--reign-site-link-color);
}

.bp-nouveau #buddypress .activity-list div.activity-meta .bp-share-wrapper a:hover {
    color: var(--reign-site-link-hover-color);
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-share-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-share-wrapper span.bp-share-label {
    display: block;
    margin-left: 10px !important;
    font-size: inherit;
    font-weight: 500;
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-share-wrapper span.tooltiptext {
    width: 100px;
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    background: #444;
    border-radius: 4px;
    color: #fff;
    line-height: 1.3;
    padding: 7px 15px;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;
    -webkit-transition: all .18s ease-out .18s;
    transition: all .18s ease-out .18s;
    top: -30px;
}

.bp-activity-share-dropdown-toggle .bp-activity-share-dropdown-menu .bp-share-wrapper span.tooltiptext:before {
    content: ' ';
    width: 12px;
    height: 12px;
    background: #444;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
    border-radius: 2px;
}

/* Share popup */
.activity-share-modal.my-profile .select2-dropdown,
.activity-share-modal.message .select2-dropdown,
.activity-share-modal.select-group [aria-label="Friend lists"],
.activity-share-modal.select-friend [aria-label="Group lists"] {
    display: none;
}

.activity-share-modal.select-group .select2-results>.select2-results__options>li:first-child,
.activity-share-modal.select-friend .select2-results>.select2-results__options>li:first-child,
.activity-share-modal.select-group .select2-results>.select2-results__options>li:nth-child(2),
.activity-share-modal.select-friend .select2-results>.select2-results__options>li:nth-child(2) {
    display: none;
}